<h1>Select a Story</h1>
<ul>
  <% @stories.each do |story| %>
  <li><%= link_to story.title, story_path(story) %></li>
  <% end %>
</ul>

<h2>Recent Stories</h2>

<ul>
  <% @recent.each do |story| %>
  <li><%= link_to story.title, story_path(story) %></li>
  <% end %>
</ul>

<h2>Popular Stories</h2>

<ul>
  <% @popular.each do |story| %>
  <li><%= link_to story.title, story_path(story) %></li>
  <% end %>
</ul>

<hr>

<%= link_to 'Make a new story', new_story_path %>
