<h1>Select a Product</h1>
<ul>
  <% @products.each do |product| %>
  <li><%= link_to product.name, product_path(product) %></li>
  <% end %>
</ul>

<hr>

<%= link_to 'Make a new product', new_product_path %>
